h1{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align:center;
    color:white;
    font-size: 8rem;
    padding-top: 30px;
}

body{
    background-image: url("../images/background-image.jpg");
    background-size: 100vw 100vh;
    /* background-size: 100vh; */
    z-index: -1;
    background-repeat: no-repeat;
}

#main{
    background-color: white;
    opacity: .7;
}

@media (orientation:portrait){
    body{
        background-image: url("../images/background-imageP.jpg");
        background-size: 100vw 100vh;
    }
}
