h1{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align:center;
    color:white;
    font-size: 4rem;
    padding-top: 30px;
    margin: 0vh 0 0 -5%;

}

html, body{
    height: 100%;
  }
  body { 
    background-image: url(../images/background-image.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }

  hr{
    color: rgb(253, 252, 252);
    background-color: rgb(252, 252, 252);
    height: 5px;

  }

.menu-scroll {
    overflow-y: scroll;
    max-height: 300px;
}

.card-body{
    background-color: white;
    opacity: .7;
    overflow: hidden;

}
.card {
    padding-top: 50px;
}
.card-text {
    height: 150px;
    overflow: hidden;
}

#formz{
    padding: 30px;
}

#main{
    margin: 0vh 0 0 25%;
}

/* #input-group{
    opacity: .7;
} */

#results{
    margin:0vh 17% 0 -15%;
    text-align: center;

}



@media (orientation:portrait){
    html, body{
        height: 100%;
      }
    body { 
        background-image: url(../images/background-imageP.jpg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
      }
}
