h1{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align:center;
    color:white;
    font-size: 4rm;
    padding-top: 30px;
}

html, body{
    height: 100%;
  }
  body { 
    background-image: url(../images/background-image.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }

#formz{
    padding: 30px;
}

#main{
    margin-top: 20vh;
}

@media (orientation:portrait){
    html, body{
        height: 100%;
      }
      body { 
                  background-image: url(../images/background-imageP.jpg) ;
                  background-position: center center;
                  background-repeat:  no-repeat;
                  background-attachment: fixed;
                  background-size:  cover;
                  background-color: #999;
        
      }
}
